<div class="alert alert-warning" role="alert">
  <div class="row">
    <div class="col-sm-1 col-md-1 col-1 fa-left-head">
      <i class="fas fa-donate fa-lg"></i>
    </div>
    <div class="col-sm-11 col-md-10 col-11">
      We make edible experience great and simple. Help us stay alive and expand! This free website is dependent on you.
      If you believe in this project, please donate by <%= link_to 'clicking here', 'http://paypal.me/renatototh' %>.
    </div>
  </div>
</div>