<div class="alert alert-warning" role="alert">
  <div class="row ">
    <div class="col-sm-12 col-md-12">
    
      <p class="donating-title"><i class="fas fa-donate"></i>  <%= t('please_donate') %></p> 
      <p>
        <%= t('donate_message', donate_link: link_to(t('click_donate'), t('url_donate'), target: '_blank', rel: 'noopener noreferrer')).html_safe %>
      </p>
    </div>
  </div>
</div>