<% if Feature.active?(:ads_adsense) %>
  <div class="row d-none d-md-block text-center">
    <!-- Leaderboard -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:750px;height:90px"
        data-ad-client="ca-pub-6354522716906819"
        data-ad-slot="4353785890"></ins>
  </div>
<% end %>

<% if Feature.active?(:ads_puffnetwork) %>
  <div class="puffad-zone ads d-none d-sm-block" ad-w="728" ad-h="90"></div>
<% end %>
