<% # Expected locals: component_id %>
<% if Feature.active?(:ads_adsense) %>
  <div id="<%= local_assigns[:component_id] %>">
    <div class="d-sm-none">
      <!-- Medium -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-6354522716906819"
          data-ad-slot="5475295879"
          data-ad-format="auto"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
<% end %>

<% if Feature.active?(:ads_puffnetwork) %>
  <div class="puffad-zone ads d-block d-sm-none" ad-w="300" ad-h="250"></div>
<% end %>