<div class="row">

  <div class="col-sm-12 col-md-12 order-2 order-md-1">
    <%= render 'ads/leaderboard', component_id: 'ad-leaderboard-top mb-1' %>
    <%= render 'recipes', recipes: @recipes %>
    <div class="pagination">
      <%= will_paginate @recipes %>
    </div>
  </div>
</div>