<!-- Locals: title, suggested_weed, suggested_portion -->
<div class="widget-title">
   <i class="fa fa-calculator fa-lg orange" aria-hidden="true"></i>
   <h1><%= title %></h1>
</div>
<%= render "components/calculator", suggested_weed: suggested_weed, suggested_portion: suggested_portion %>
