<%# Locals: title, suggested_quantity, suggested_portion, suggested_potency %>
<i class="fa fa-calculator fa-lg orange" aria-hidden="true"></i>
<h1><%= title %></h1>
<%= render "components/calculator", suggested_quantity: suggested_quantity, suggested_portion: suggested_portion, suggested_potency: suggested_potency %>
