<%# Locals: title %>
<div class="row">
  <div class="col-sm-12">
    <h2>
      <i class="fa fa-flask fa-lg orange" aria-hidden="true"></i> <%= title %>
    </h2>
    <%= render "components/dosage" %>
  </div>
</div>
