<%# Locals: title %>
<div class="row mt-4">
  <div class="col-sm-12">
    <i class="fa fa-flask fa-lg orange icon-medium" aria-hidden="true"></i>
    <h2><%= title %></h2>
    <%= render "components/dosage" %>
  </div>
</div>
