<div class="col-sm-12 ui-item harm-reduction-warning">
<a href="#" class="close close-harm-warning" data-dismiss="panel" aria-label="close" id="hide">&times;</a></th>
  <p style="text-align:center;">
  <strong>Esse site possui objetivo de redução de danos. Não fazemos incentivo de uso de nenhuma droga. </strong><br/>Quem nunca ouviu uma história sobre uma bad trip de algum comestível de maconha? Isso é muito comum porque comestíveis são <a href="https://www.leafly.com/news/cannabis-101/ingest-or-inhale-5-differences-between-marijuana-edibles-and-flow">mais psicoativos do que fumar ou vaporizar maconha</a> e também extremamente difíceis de dosar corretamente, o que pode resumar numa <a href="https://pt.wikipedia.org/wiki/Bad_trip">bad trip (onda ruim)</a>.
  Esse site irá te ajudar a dosar seus comestíveis de maconha de maneira saúdavel e responsável.
  </p>
</div>
