<h1>Edible Dosage Calculator</h1>
<div class="row">
  <div class="col-sm-12">
    <%= render 'recipes', { recipes: @recipes } %>
    <% if I18n.locale == :en %>
      <%= render 'suggest_recipe_button' %>
    <% end %>
  </div>
</div>