<%= render 'harm_reduction' %>
<div class="row mtb">
  <div class="col-sm-6">
    <%= render 'calculator' %>
    <%= render 'dosage' %>
  </div>
  <div class="col-sm-6">
    <%= render 'recipe' %>
  </div>
</div>
