<%= render 'harm_reduction' %>
<div class="row" id="recipe_description">
  <div class="col-sm-6">
    <%= render 'calculator_wdiget' %>
    <%= render 'dosage_widget' %>
  </div>
  <div class="col-sm-6">
    <%= render 'recipe' %>
  </div>
</div>
