<%= render 'harm_reduction' %>
<div class="row">
  <div class="col-sm-5 padding-bottom">
    <%= render 'calculator_widget', title: t(:step1_title), suggested_weed: @recipe.suggested_weed, suggested_portion: @recipe.suggested_portion %>
    <%= render 'dosage_widget', title: t(:step2_title) %>
  </div>
  <div class="col-sm-7">
    <%= render 'recipe_content', recipe: @recipe %>
  </div>
</div>
