<p class="mb-2 mt-3">
  <i class="fa fa-cookie fa-lg green icon-large" aria-hidden="true"></i>
  Full Recipe will have <span class="badge badge-success badge-label" id="potency-result-total">0</span>
</p>

<p class="mb-2 mt-3">
  <i class="fa fa-cookie-bite fa-lg green icon-large" aria-hidden="true"></i>
  <%= t('calculator.step2_half_portion_title') %>
  <span class="badge badge-success badge-label" id="potency-result">0</span>
</p>

<p id="highness-level" class="mb-2 mt-3"></p>

<div class="mb-2 mt-5">
  <h2>
    <i class="far fa-laugh fa-lg green icon icon-large" aria-hidden="true"></i>
    <%= t('calculator.step2_positive_effects_title') %>
  </h2>
</div>

<p class="spaced-content mt-2 pl-2 pb-2" id="positive-effect-details"></p>

<h2 class="mt-3">
  <i class="far fa-frown fa-lg red icon-large" aria-hidden="true"></i>
  <%= t('calculator.step2_negative_effects_title') %>
</h2>
<p class="spaced-content mt-3 pl-2 pb-2" id="negative-effect-details"></p>

<p class="sidenote"><%= t('calculator.step2_observation') %></p>
