<h2>How does the calculator work?</h2>
<p>
  The idea of this calculator came from <a href="https://beyondchronic.com/2015/11/ohs-law-of-cannabis-edible-potency/" rel="noopener noreferrer" target="_blank">Old Hippie's Website</a>. Our calculator use the very same concept of Ohm's Law, maybe you don't remember it from your physics class, but I will make it easier to remember and understand using cannabis stuff.
</p>

<p>
  <strong>Consider the following:</strong>
</p>
<p>
  G = grams of cannabis<br/>
  P = potency in milligrams of THC<br/>
  S = strength of cannabis in percent<br/>
  N = number of servings<br/>
</p>

<p>
  <i>G</i> is literally the quantity of plant material you want to use, no mistery here. N is the number of servings of your recipe, let's say you are making a space cake, after finishing the cooking, you decide to cut your cake in 4 pieces, in this case N equals 4.
</p>

<p><i>S</i> is probably the most complicated to figure out, but bare with me. If you are in a state or country where weed is NOT decriminalize, a good rule of thumb would be to assume 20% of strength for top shelf frosty buds, 10% to 15% for mids, and 5% for schwag/brickweed. For concentrates, assume 30% for kief, 40% for hash, 60% for hash oil, 80%-95% for shatter. If you are lucky and you live in a legalized
    state/country you can just ask your budtender or dispensary about the flower or concentrate strength.</p>
<p>Ok, now you understand what is S, N and G, you can use all these three elements to calculate your edible's potency with the following equation:</p>
<p><%= image_tag('potency_formula.png') %></p>
<p>Confused? Don't worry! Let's go over it step by step. Assume you have 2 grams of high-quality cannabis with 20% of THC and you want to make 8 cookies for you and your friends. How strong will each of them be? So, here we go:</p>
<p>
  G = 2 (grams)<br/>
  S = 20 (% of THC)<br/>
  N = 8 (portions)<br/>
  P = 10 * (2 * 20) / 8 = 50 mg each<br/>
</p>
<p>Notice that the amount of oil or butter you use <em>has nothing to do with the calculation</em>! So if you are making enough cannabutter or infused oil for a batch of cookies, you use the amount your recipe calls for 8 cookies, and that's all there is to it.</p>
<p>This equation can also be used if you are trying to calculate another cannabinoid, like CBD or CBG. Instead of using THC percentage for S, just use CBD percentage.</p>
<p class="padding-bottom">Fortunately, you don't need to know all this, you can see this math magic happening live in our calculator, you just need to input the quantity, strength and portion number and we do all the work for you.</p>