<div>
  <h1>Edible Dosage Calculator</h1>
</div>
<div class="col-sm-6 padding-bottom padding-right">
  <div>
    <%= render 'components/calculator', { suggested_weed: 4, suggested_portion: 10 } %>
  </div>
  <div class="recommended-recipes hidden-xs">
    <%= render 'recipes/recommended_recipes', recipes: @recipes %>
  </div>
</div>
<div class="col-sm-5">
  <%= render 'components/dosage' %>

  <div class="recommended-recipes hidden-sm hidden-md hidden-lg">
    <%= render 'recipes/recommended_recipes', recipes: @recipes %>
  </div>
</div>