
  <h1>Edible Dosage Calculator</h1>
  <div class="row">
  <div class="col-sm-6 padding-bottom">
    <div>
      <%= render 'components/calculator', { suggested_weed: 4, suggested_portion: 10 } %>
    </div>
  </div>
  <div class="col-sm-6">
    <%= render 'components/dosage' %>
  </div>
  </div>
