<div id="top-banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 centered">
				<h1>WE ARE BAKING SOMETHING NEW FOR YOU!</h1>
				<p>A bundle of e-books that will teach you to cook delicious, quick and easy cannabis edibles recipes. This ebook collection is composed by a complete guide of extraction, a quick guide of dosage and a book with quick and delicious recipes.</p>
				<div class="col-sm-6 aligncenter form">
					<form role="form" action="/" method="post" enctype="plain">
						<input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
						<button class='btn btn-green subscribe-submit' type="submit">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-12 centered">
	<div class="row mtb">
		<div class="col-md-6">
			<%= image_tag('landing_page_book.png', width: '600') %>
		</div>

		<div class="col-md-6">
			<h2 class="mb">You Will Learn How To</h2>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/5VN8NemLWfI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

<div id="bundle-details">
	<div class="row mtb centered aligncenter container">
		<h2>What comes on the bundle?</h2>
		<div class="row icons-white-bg mtb">
			<div class="col-md-4">
				<div class="book-item">
					<i class="fa fa-tint book-title"></i>
					<strong>Extraction for edibles</strong>
					<p class="book-description">An exclusive book covering the quickest and the most effective way to extract cannabinoids from flower. In the end of this book you will be able to prepare infused oils, tinctures and THC/CBD capsules.</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="book-item">
					<i class="fa fa-cutlery book-title"></i>
					<strong>Quick and easy pot cookbook</strong>
					<p class="book-description">If you have running low of time but still want to cook something delicious and easy, our quick and easy edible book is for you. From lunch to dessert.</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="book-item">
					<i class="fa fa-flask book-title"></i>
					<strong>Complete guide of edible dosage</strong>
					<p class="book-description">Who never heard to lived a bad or intense experience with edibles? They are really easy to over do it, that's why we created this complete dosage guide to make your edible experience to be exactly what you looking for.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row mtb centered aligncenter">
		<h2>Featured on</h2>
		<div class="row icons-white-bg mt">
			<div class="col-md-6">
				<%= link_to image_tag('landing_page_civilized_logo.png'), 'https://www.civilized.life/articles/this-website-is-designed-to-help-you-not-overdo-it-on-edibles/' %>
			</div>

			<div class="col-md-6">
				<%= link_to image_tag('landing_page_greenseal_logo.png'), 'https://www.greensealcannabis.ca/diy-cannabis-edibles/' %>
			</div>
		</div>
	</div>
</div>