<h1 class="title">We're hiring!</h1>
<hr/>
<p><h2>Writer - Volunteer</h2></p>

<p>
  We are looking for a writer to join our team.  
</p>

<h2>About us</h2>
<p>We are a group of people passionate about cannabis working to build the BEST edible community and website on the internet. <br/>
Our team is fully remote and since we are not funded (yet), everyone is a volunteer, but don't be fooled, we are working hard to make it happen. Our plans are ambicious and realistic!</p>

<h2>Who you are</h2>
<ul>
  <li>Cannabis entusiast or interested on the topic</li>
  <li>Love writing</li>
  <li>Excellent grasp of the english language</li>
  <li>Like to collaborate</li>
  <li>Work well with remote teams</li>
  <li>Willing to work as a volunteer</li>
  <li>Ability to write longform engaging content</li>
  <li>Has research & journalistic qualities</li>
</ul>

<h2>The Opportunity</h2>
<ul>
  <li>Developing creative ideas and concepts, sometimes in partnership with our team</li>
  <li>Presenting ideas to colleagues</li>
  <li>Writing clear and engaging writing for our online audience</li>
  <li>Syndicating content properly</li>
  <li>Crafting new posts for our new blog</li>
  <li>Writing content pages</li> 
  <li>Fact checking and referencing</li>
  <li>Ensuring brand message is consistent across all channels</li>
</ul>

<h2>Interested?</h2>
<p><%= link_to 'Click here to apply', 'http://bit.ly/2rxsLft', target: '_blank' %></p>

<br/>
<br/>