<div class="col-sm-12 ui-item">
  <h4 class="col-sm-12 container-title">
    <i class="fa fa-flask fa-lg" aria-hidden="true"></i> Step 2 - Be aware of your dosage - <%= @recipe.name.capitalize %>
  </h4>
  <div class="row top-buffer effects-container">
    <div class="col-sm-12 container pull-left">
      <h5 class="text-left"><i class="fa fa-circle fa-lg" aria-hidden="true"></i> Your recipe will have <strong><span id="potency-result-total">0</span></strong> of THC</h5>
    </div>
    <div class="col-sm-12 container pull-left">
      <h5 class="text-left"><i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i> Each portion has <strong><span id="potency-result">0</span></strong></h5>
    </div>
  </div>

  <div class="row pull-center meter-container">
    <div class="col-sm-12 container top-buffer text-center">
      <strong><h4><span id="high-level"></span></h4></strong>
    </div>
  </div>
  <div class="row top-buffer effects-container">
    <div class="col-sm-12">
      <div class="row text-center">
        <div class="col-xs-2 col-sm-1 container">
          <i class="fa fa-thumbs-o-up fa-2x green" aria-hidden="true"></i>
        </div>
        <div class="col-sm-10 container text-left">
          <h4>Positive Effects</h4>
        </div>
      </div>
      <h5 id="positive-effect-details"></h5>
      <br/></p>
      <div class="row">
        <div class="col-xs-2 col-sm-1 container">
          <i class="fa fa-thumbs-o-down fa-2x red" aria-hidden="true"></i>
        </div>
        <div class="col-sm-10 container text-left">
          <h4>Negative Effects</h4>
        </div>
      </div>
      <h5 id="negative-effect-details"></h5>
    </div>
    <div class="col-sm-12">
      <br/>
      <span class="pull-right">You may or may not feel all the effects listed*</span>
    </div>
  </div>
</div>
