
  <div class="col-sm-7 ui-item">
    <div class="row attribute-container">
      <div class="row">
        <div class="col-sm-12">
          <span class="pull-center">How much weed you have?</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <input id="grams"
            type="text"
            data-slider-id="slider"
            data-slider-min="1"
            data-slider-max="28"
            data-slider-step="0.1"
            data-slider-value="3.5"
            data-slider-tooltip="hide"/>
        </div>
        <div class="col-sm-2">
          <span class="pull-left" id="grams-quantity"></span>
        </div>
      </div>
    </div>

    <div class="row attribute-container">
      <div class="row">
        <div class="col-sm-12">
          <span class="pull-center">How strong is your weed? (10% average)</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <input id="strength"
            type="text"
            data-slider-id="slider"
            data-slider-min="1"
            data-slider-max="80"
            data-slider-step="1"
            data-slider-value="10"
            data-slider-tooltip="hide"/>
        </div>
        <div class="col-sm-2">
          <span id="strength-quantity"></span>
        </div>
      </div>
    </div>

    <div class="row attribute-container">
      <div class="row">
        <div class="col-sm-12">
          <span class="pull-center">How many portions you want?</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <input id="number-of-servings"
            type="text"
            data-slider-id="slider"
            data-slider-min="1"
            data-slider-max="80"
            data-slider-step="1"
            data-slider-value="40"
            data-slider-tooltip="hide"/>
        </div>
        <div class="col-sm-2">
          <span id="servings-quantity"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-5 ui-item">
    <div class="row attribute-container clear">
      <div class="row pull-center">
        <div class="col-xs-8">
          <h3 id="potency-result">0</h3>
          </div>
          <div class="col-xs-4">
            <h4>/ each portion</h4>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <h4 id="high-level"></h4>
      </div>
    </div>
  </div>
