<div class="row">
  <div class="col-sm-3">
    <input id="grams" data-slider-id='slider' type="text" data-slider-min="1" data-slider-max="28" data-slider-step="1" data-slider-value="6"/>
    <br>
    <span id="grams-quantity"></span>
  </div>
  <div class="col-sm-3">
    <input id="strength" data-slider-id='slider' type="text" data-slider-min="1" data-slider-max="30" data-slider-step="1" data-slider-value="15"/>
    <span id="strength-quantity"></span>
  </div>
  <div class="col-sm-3">
    <input id="number-of-servings" data-slider-id='slider' type="text" data-slider-min="1" data-slider-max="30" data-slider-step="1" data-slider-value="10"/>
    <span id="servings-quantity"></span>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <span id="potency-result">0</span>
  </div>
</div>