<div>
  <%= link_to 'https://www.paypal.me/renatototh', target: "_blank", rel: "noopener noreferrer" do %>
    <p class="section-title">
      <i class="fa fa-money fa-lg green" aria-hidden="true"></i> Donate!
    </p class="section-title">
  <% end %>
</div>

