<div class="fb-page-widget hidden-xs hidden-sm hidden-md">
  <h5>
    <i class="fa fa-bullhorn fa-lg orange" aria-hidden="true"></i> <%= t :spread_the_word %>
  </h5>
  <div class="fb-page"
    data-href="https://www.facebook.com/howtoedibles"
    data-width="400"
    data-hide-cover="false"
    data-show-facepile="false">
  </div>
</div>

<div class="fb-page-widget hidden-lg">
  <h5>
    <i class="fa fa-bullhorn fa-lg orange" aria-hidden="true"></i> <%= t :spread_the_word %>
  </h5>
  <div class="fb-page"
    data-href="https://www.facebook.com/howtoedibles"
    data-width="348"
    data-hide-cover="false"
    data-show-facepile="false">
  </div>
</div>