@import url('https://fonts.cdnfonts.com/css/poppins&display=swap');

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
  
  .donating-title {
    font-size: 1.5vmax !important;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .donating-title {
    font-size: 20px !important;
  }
}

html, body {
  -webkit-overflow-scrolling: touch;
  font-family: 'Poppins', sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

img { aspect-ratio: attr(width) / attr(height); }

p.title {
  font-size: 22px;
  font-weight: 600;
}

p.spaced-subtitle {
  font-size: 20px;
  font-weight: 450;
  margin: 20px 0 20px 0;
}

h1 {
  display: inline;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}

h2 {
  display: inline;
  font-size: 23px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}

.popular-recipes h2 {
  display: inline;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}

h3 {
  font-size: 1.15rem;
  font-weight: 500;
}

a {
  color: #f27242;
}

a:hover, a:focus {
  color:#e16a3e;
  text-decoration: none;
}

input[type=number]{
  width: 50px;
  text-align: center;
  transition: background-color 5000s ease-in-out 0s;
}

/* Remove up and down arrows from type number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

/* Misc Customizations */
.badge-label {
  margin: 3px;
  font-size: 15px;
  font-weight: 500;
}

.badge-success {
  background-color: #5cb85c;
}

.harm-reduction-box {
  margin: 20px 30px 60px 20px;
}

.text-center {
  text-align: center;
}

.fb-page-widget {
  margin-top: 70px;
  text-align: left;
}

.footer {
  background: #f3f3f3;
  border-color: #337ab7;
  padding: 25px 0px 55px 0px;
  margin-top: 25px;
}

.far {
  font-display: swap;
}

.fa-lg {
  font-size: 1.66em;
  font-display: swap;
}

span.bottomtip {
  display: inline;
  font-size: 14px;
  color: #666;
}

.sidenote {
  font-size: 14px;
}

.ads {
  margin: 10px auto 30px auto;
}

i.icon-medium {
  position: relative;
  margin-right: 6px;
}

i.icon-large {
  position: relative;
  margin-right: 6px;
  top: 3px;
}

p.warning-item {
  padding-top: 10px;
}

p.spaced-content {
  padding-top: 10px;
}

.span-block {
  display: block;
}

.suggest-recipes {
  padding-top: 10px;
  text-align: left;
}

.fa-left-head {
  margin-top: auto;
  margin-bottom: auto;
}

.donating-title {
  font-size: 1.8vmax;
  color: #000;
  font-weight: 600;
}