.navbar {
  background-color: #f8f8f8;
  border:1px solid #e7e7e7;
  margin-bottom: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.highlighted-nav-link {
  font-weight: 700;
}

.nav-highlight {
  color: #fff !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-icon {
  color: #000;
}

.nav-link {
  color: #000 !important;
}

@media (max-width: 500px) {
  .logo-regular {
    display: none;
  }
}

@media (min-width: 501px) {
  .logo-small {
    display: none;
  }
}
