.fa-chevron-circle-down:hover { color: darkorange; }
.fa-chevron-circle-up:hover { color: darkgreen; }

.calculator-item { padding-bottom: 10px; }

#green-bar { width: 100%; }
#green-bar .slider-selection, #green-bar .slider-handle { background: #5cb85c; }

.calculator-input { text-align: center; }
