.card {
  margin-bottom: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  width: 100%;
}


.card img { width: 100%; }
.card-block { padding: 0px 8px 5px 12px; }
.card-title {
  font-size: 24px;
  font-weight: 600;
  color:#e16a3e;
}
.card-text { font-weight: 400; }
