html { position: relative; min-height: 100%; overflow-x: hidden; }
html, body { height:100%; width: 100%; min-width: 100%; overflow-x: hidden; }

body p {
  text-color: #666666;
  font-size: 16px;
  line-height: 23px;
  -webkit-font-smoothing: antialiased;
}

p .green {
  text-color: #428041;
}

.label-custom {
  font-size: 100%;
  line-height: 0!important;
}

.label {
  font-size: 100%;
  line-height: 2;
}

p .label {
  margin-bottom:10px;
}

h4 {
  color: #666666;
  font-size: 22px;
}

h5 {
  color: #666666;
  font-size: 18px;
  line-height:23px;
}

.margin-label { margin-bottom: 20px;}

.positive-green { text-color: #428041; }
#green-bar { width: 100%; }
#green-bar .slider-selection { background: #428041; }
#green-bar .slider-handle { background: #428041; }

.navbar-toggle {
  padding-left:18px;
  padding-top:18px;
  padding-bottom:18px;
  padding-right:18px;
  margin-top:20px;
}

.padding-container {
  padding:0px 40px 40px 40px;
}

.navbar {
  margin-bottom: 0px;
}

.fa-chevron-circle-down:hover {
    color: darkorange;
}

.fa-chevron-circle-up:hover {
    color: darkgreen;
}
