#green-bar {
  width: 100%;
}

#green-bar .slider-selection {
  background: #428041;
}

#green-bar .slider-handle {
  background: green;
}

#grams, #strength, #number-of-servings {
  width: 50px;
}

.attribute-container {
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

