/* Common */
html, body { -webkit-overflow-scrolling: touch; }

body p {
  font-size: 18px;
  line-height: 33px;
  -webkit-font-smoothing: antialiased;
}

h4 { color: #666666; font-size: 23px; }

h5 {
  color: #666666;
  font-size: 20px;
  line-height: 35px;
}

.widget-title h1 {
  display: inline;
  color: #666666;
  font-size: 21px;
  line-height: 50px;
}

.widget-title {
  color: #666666;
  font-size: 20px;
  line-height: 35px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

.go-to-recipe {
  color: #f27242;
  font-size: 14px;
  font-weight: 500;
}

ul li {
  margin: 5px 0px 5px 0px;
  font-weight: 400;
  color: #666666;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 10px 0px 5px 0px;
  font-weight: 400;
  color: #666666;
}

span {
  font-weight: 400;
  color: #666666;
}

a { color: #f27242; }
a:hover, a:focus {
  color:#e16a3e;
  text-decoration: none;
}

input[type=number]{
    width: 60px;
    text-align: center;
}

@media (min-width: 768px) {
  .container { width: 95%; }
}

/* Remove up and down arrows from type number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Misc Customizations */
p.bottomtip { line-height: 18px; }

p.warning-item { line-height: 25px; }

.harm-reduction-box { margin: 20px 30px 60px 20px; }
.padding-space { padding:0px 30px 30px 0px; }
.padding-bottom { padding-bottom: 50px; }

.label { font-size: 87%; line-height: 2.0; }
.center { margin: auto; width: 80%; }
.text-center { text-align: center; }

.suggest-recipes {
  color: #666;
  font-size: 17px;
  text-align: right;
  line-height: 23px;
}

.having-bad-time-warning {
  text-align: right;
  padding-top: 50px;
}

.fb-page-widget {
  margin-top: 70px;
  text-align: left;
}

.footer {
  background: #f3f3f3;
  border-color: #337ab7;
  padding: 25px 0px 55px 0px;
  margin-top: 25px;
}
