.navbar {
  background-color: #f8f8f8;
  border:1px solid #e7e7e7;
  margin-bottom: 20px;
}

.logo { width: 260px; }

.logo img {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #616161;
  margin-right: 5px;
  font-size: 16px;
}
