.navbar-header { padding: 0px 0px 0px 40px; }

.navbar-default .navbar-nav > li > a { font-size: 16px; }

.navbar-toggle {
  padding-left:15px;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:15px;
  margin-top:15px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #f8f8f8;
    border-color: #337ab7;
}


.dropdown { margin-right:0; padding-top: 25px;  }
