<nav class="public-nav navbar">
  <div class="container">
    <div class="clear">
      <div class="container-fluid">
        <div class="branding">
           <%= image_tag('howtoedibles.png', :alt => 'How to Edibles', :size => "283x40")%>
        </div>
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse pull-right" id="navbar">
          <ul class="nav navbar-nav">

          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>


