<nav class="navbar navbar-default">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <a href="/"><%= image_tag(t(:logo), alt: 'How to Edibles')%></a>
      </div>
    </div>
    <div id="navbar_main" class="navbar-collapse collapse">
      <ul id="nav" class="nav navbar-nav">
        <% @categories.each do |category| %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= category.name %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% category.recipes.each do |recipe| %>
                <li><%= link_to recipe.name, recipe_path(category.slug, recipe.slug) %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li class="dropdown">
          <%= link_to 'https://www.redbubble.com/people/howtoedibles/works/32194367-how-to-edibles-t-shirt', target: :_blank do %>
            <p class="label label-danger white"><i class="fa fa-lg fa-shopping-cart white"></i> <strong>MERCH</strong></p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
