<div class="well">
  <div class="row">
    <div class="col-sm-6">
      <ul class="fa-ul">
        <h4>DO!</h4>
        <li><i class="fa-li fa fa-check green"></i>Eat a small amount at a time, and wait an hour or more between doses.</li>
        <li><i class="fa-li fa fa-check green"></i>Eat real food before you try an edible.</li>
        <li><i class="fa-li fa fa-check green"></i>Remember that eating cannabis is much stronger than smoking it.</li>
        <li><i class="fa-li fa fa-check green"></i>Be aware that edibles can take up to an hour to kick in.</li>
        <li><i class="fa-li fa fa-check green"></i>If you got anxious, try to stay calm, nobody overdose from cannabis ever.</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="fa-ul">
        <h4>DON'T!</h4>
        <li><i class="fa-li fa fa-ban red"></i>Don't eat pot food too quickly. Start small and low.</li>
        <li><i class="fa-li fa fa-ban red"></i>Don't drink alcohol or use others drugs.</li>
        <li><i class="fa-li fa fa-ban red"></i>Don't try to get as high as possible. It's not a competition.</li>
        <li><i class="fa-li fa fa-ban red"></i>Don't take cannabis food with empty stomach.</li>
        <li><i class="fa-li fa fa-ban red"></i>Don't get dehydrated, make sure to drink water.</li>
      </ul>
    </div>
  </div>
</div>
